extends template
block main
    h1 LightBox gallery
    .gallery-container
        - let n = 1
        while n<=12
            .gallery-item
                img(src="img/gallery-"+n+"-thumb.jpg", alt="Descripcion de la imagen "+n, srcset="")
            - n++
    script(src="js/lightbox.js")