<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
    <h1>LightBox gallery</h1>
    <div class="gallery-container" id="gallery-container">
      <div class="gallery-item"><img src="img/gallery-1-thumb.jpg" alt="Descripcion de la imagen 1" srcset=""/></div>
      <div class="gallery-item"><img src="img/gallery-2-thumb.jpg" alt="Descripcion de la imagen 2" srcset=""/></div>
      <div class="gallery-item"><img src="img/gallery-3-thumb.jpg" alt="Descripcion de la imagen 3" srcset=""/></div>
      <div class="gallery-item"><img src="img/gallery-4-thumb.jpg" alt="Descripcion de la imagen 4" srcset=""/></div>
      <div class="gallery-item"><img src="img/gallery-5-thumb.jpg" alt="Descripcion de la imagen 5" srcset=""/></div>
      <div class="gallery-item"><img src="img/gallery-6-thumb.jpg" alt="Descripcion de la imagen 6" srcset=""/></div>
      <div class="gallery-item"><img src="img/gallery-7-thumb.jpg" alt="Descripcion de la imagen 7" srcset=""/></div>
      <div class="gallery-item"><img src="img/gallery-8-thumb.jpg" alt="Descripcion de la imagen 8" srcset=""/></div>
      <div class="gallery-item"><img src="img/gallery-9-thumb.jpg" alt="Descripcion de la imagen 9" srcset=""/></div>
      <div class="gallery-item"><img src="img/gallery-10-thumb.jpg" alt="Descripcion de la imagen 10" srcset=""/></div>
      <div class="gallery-item"><img src="img/gallery-11-thumb.jpg" alt="Descripcion de la imagen 11" srcset=""/></div>
      <div class="gallery-item"><img src="img/gallery-12-thumb.jpg" alt="Descripcion de la imagen 12" srcset=""/></div>
    </div>
    <script src="js/lightbox.js"></script>
  </body>
</html>